data/stats/ability_and_stability/ability_types/mental_abilities/
data/stats/ability_and_stability/stability_state/
data/stats/level_ups/level_value_database/level_curves/
DATA_FOLDER_STRUCTURE_PERSONAL.MD